
/* Esercizio n1 */
.ex-1-square:hover{
    background-color: red;
    transition: all 2s;
}

/* Esercizio n2 */
.ex-2-square:active{
    width: 100%;
    transition: all 1s linear;
}

/* Esercizio 3 */
.ex-3-square:hover{
    transition: all .5s;
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square:hover{
    background: rgb(245, 245, 245);
    transition: all 2s;
}

/* Esercizio 5 */
.ex-5-square{
    transition: all 1s;
}
.ex-5-square:hover{
    transform: scale(1.5);
}

.ex-5-square:active{
    transform: scale(.5);
}

/* Esercizio 6 */
.ex-6-img:hover{
    filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img:hover{
    filter: grayscale(1) contrast(1);
    transition: all 2s;
}

/* Esercizio 8 */
.ex-8-img:hover{
    filter: sepia(.8) grayscale(.3);
    border-radius: 15px;
    transition: all 2s;
}

/* Esercizio 9 */
.ex-9-img{
    transition: all 2s;
}

.ex-9-img:hover{
    filter: sepia(.8) grayscale(.7);
    transform: scale(1.5);
    border-radius: 15px;
}

/* Esercizio 10 */
.ex-10-icon {
    animation: move-360 1s linear infinite;
}
@keyframes move-360 {
    0% {
        transform: rotate(360deg);
    }
}

/* Esercizio 11 */
.ex-11-icon:hover{
    animation: move-270 2s linear;
}

@keyframes move-270 {
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}

/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: top 2s linear;
}
@keyframes top {
    50% {
        left: calc(100% - 70px);
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom 2s linear;
}
@keyframes bottom {
    60% {
        right: calc(100% - 70px);
    }
}


/* Esercizio 13 */

/* top */
.ex-13-button:hover .ex-13-top-white {
    animation: spaceTop 2s linear;
}
@keyframes spaceTop {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

/* bottom */

.ex-13-button:hover .ex-13-bottom-white {
    animation: spaceBottom 2s linear;
}
@keyframes spaceBottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
